requirements.txt

faiss-cpu==1.9.0.post1
fastjsonschema==2.21.1
google-ai-generativelanguage==0.6.10
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
openai==1.57.0
orjson==3.10.12
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
passlib==1.7.4
pickleshare==0.7.5
pillow==11.0.0
pipreqs==0.5.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.1
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.3
pydantic_core==2.27.1
pydeck==0.9.1
python-dotenv==1.0.1
Pygments==2.18.0
PyMuPDF==1.25.0
passlib==1.7.4
pickleshare==0.7.5
pillow==11.0.0
pipreqs==0.5.0
pymupdf4llm==0.0.17
pyparsing==3.2.0
pypdf==5.1.0
PyPDF2==3.0.1
PyYAML==6.0.2
pyzmq==26.2.0
SQLAlchemy==2.0.36
stack-data==0.6.3
streamlit==1.40.2
langchain==0.3.9
langchain-core==0.3.21
langchain-text-splitters==0.3.2
langsmith==0.1.147
langchain-google-genai
streamlit-pdf-viewer
langchain-groq
langchain_community
yfinance
plotly
beautifulsoup4
requests
